.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  background-color:rgb(104, 47, 104);
  height: 50px;
  padding: 20px;
  color: rgb(218, 175, 238);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.list{
  display:flex;
  flex-direction:column;
  width: 400px;
  padding:40px;
  margin: 0 auto;
  list-style-type: none;

}
.card{
  margin: 20px;
  background-color:beige;
  height:200px;
  padding: 20px;
  border: 5px double saddlebrown;
}
.description{
  font-size:15px;
}
